.inputBox {
    margin: 12px 0;
    width: 100%;
    display: flex;
    align-items: fle-start;

    .inputLabel {
        padding: 8px 0;
        width: 25%;
        font-size: 16px;
        font-weight: 500;
    }
    input, textarea, select {
        padding: 8px 8px;
        width: 100%;
        outline-color: #c2c3c5;
    }
    textarea {
        resize: vertical;
        min-height: 5rem;
    }
    select {
        font-size: 14px;

        option {
            // padding: 8px;
        }
        
    }
}

