a.button,
button.button {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f1f3f6;
    outline: none;
    text-decoration: none;
    color: #222;
    cursor: pointer;
    &:hover {
        background-color: #eaecee;
    }
    & + & {
        margin-left: 8px;
    }
}

div.layoutTitle {
    font-size: 36px;
    text-align: left;
    font-weight: 300;    
    margin-bottom: 24px;
}

input, textarea {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #d5d7d9;
}

.requiredStar {
    color: red;
}